.task {
    background-color: #EADDEA;
    margin-top: 1.5em;
    padding: 1em;
    color: #722F74;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: auto;
}
.d_task{
    color: white;
    background-color: rgb(31, 31, 31);
}
.task__header {
    text-align: left;
    font-weight: 600;
}
.task__description{
    margin-bottom: 1em;
}
.task__buttons {
    color: #9b9999;
    display: flex;
    justify-content: space-between;
}
.task__button{
    border: 2px #722F74 solid;
    border-radius: 5px;
    box-shadow: 0 0 5px #b99ab7;
    margin-top: 2em;
    width: 100%;
    padding: 0.5em;
    background-color: #722F74;
    cursor: pointer;
    color:white;
    font-weight: 600;
    white-space:nowrap;
}

.task__button:hover {
    background-color: #77127a;
}
.d_task__button{
    border-color: black;
    background-color: rgb(31, 31, 31);
    color: white;
}
.d_task__button:hover{
    background-color: black;
}
@media(max-width:1200px){
    .task__buttons{
        flex-direction: column;
    }
    .task__button{
        margin-top: 1em;
    }
}