.column {
    border: 2px #722F74 solid;
    border-radius: 5px;
    box-shadow: 0 0 5px #c09fba;
    word-wrap: break-word;
   
    min-width: 300px;
    padding: 1em;
    cursor: pointer;
  }
.important1{
  width: 20%;
}
.important2{
  width: 30%;
}
.important3{
  width: 40%;

}
  .column__header {
    text-align: left;
    
    color: #9b9999;
  }
.d_column{
  border: 2px black solid;
}
 @media(max-width:786px){
   .column{
     width: 100%;
     margin-top: 1em;
   }
 }