.column {
    border: 5px #722F74 solid;
    border-radius: 20px;
    box-shadow:  0 -40px 100px, 0 0 2px, 0 0 1em #ff17d8, 0 0 0.5em #ff3cff, 0 0 0.1em #ff59e9;
    word-wrap: break-word;
    margin-top: 1em;
    min-width: 300px;
    padding: 1em;
    cursor: pointer;
    max-width: 1000px;
  }
.important1{
  width: 15%;
}
.important2{
  width: 30%;
}
.important3{
  width: 45%;

}
.column__header {
    text-align: left;
    font-weight: 600;
    color: black;
}
.d_column__header {
  text-align: left;
  
  color: #ff9aee;
}
.d_column{
  border: 2px black solid;
}
 @media(max-width:786px){
   .column{
     width: 100%;
     margin-top: 1em;
   }
 }