.footer{
    width: 100%;
    padding: 1em;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 215, 255, 0.911);
}
.footer__fio{
    color: black;
    font-size: 2em;
    font-weight: 600;
}
.footer__group{
    color: black;
    font-size: 2em;
  
}
.footer__date{
    color: #722F74;
    font-size: 2em;
   text-decoration: underline;
   margin-left: 5px;
}
.foorer__info{
    display: flex;
}
.d_footer{
    color: rgb(255, 0, 106)!important;
}
.d_footer__group{
    color: white;
}
.d_footer__fio{
    color: white;
}